.topInfo {
    display: flex;
    z-index: 1000;
    color: rgba(236, 226, 227);
    background-color: rgba(1, 10, 6, 0.5);
    justify-content: space-around;
    position: sticky !important;
    top: 0;
    padding: 15px;
}


